.wrapper {
	font-size: 12px;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid #7C9F8B;
    display: flex;
    align-items: center;
    background-color: #CBEDDA;
    border-radius: 4px;
    color: #35674a;
}