.wrapper {
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid #e6c92b;
    display: flex;
    align-items: center;
    background-color: #ffec92;
    border-radius: 4px;
    color: #988104;
    cursor: pointer;
    &:hover {
        background-color: #ffe360;
    }
}