.wrapper {
	display: flex;
    flex-direction: column;
    flex: 1;
}

.buttons {
    display: flex;
    & div {
        margin-left: 5px;
    }
    &:first-child div {
        margin-left: none;
    }
}

.empty {
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}
