.wrapper {
	display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #F4F5F7;
}

.outputWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.video {
    z-index: 2;
    position: absolute;
    height: auto;
    object-fit: contain;
    max-width: 95%;
    max-height: 95%;
}